* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 50px;
}

p {
	font-family: "Montserrat", sans-serif;
	font-size: 1em;
}

h1, h3 {
	font-family: "Roboto Slab", serif;
	color: #B47C54;
}

/* Header */
.header > h1 {
	font-size: 3em;
}
#logo-1 {
	height: 5%;
	width: 5%;
}

/* NavBar */
#logo-2 {
	height: 3%;
	width: 15%;
}

nav > ul {
	list-style: none;
}

nav a {
	color: #846454;
	font-weight: bold;
}

/* Home */
main #home-img {
	width: 50%;
}

/* About Me */
#about {
	background-color: bisque;

}
main #profile {
	height: 80;
	width: 30%;
}


/* Projects */
#projects .card{
	background-color: burlywood;
	color: white;
	font-family: "Roboto Slab", serif;
	text-align: center;
}

.img-card {
	align-content: center;
}

/* Contact */
#contact-me {
	background-color: beige;
	position: relative;
}

/* Footer */
footer {
	font-size: 15px;
}

#icon {
	width: 3em;
}
